$iconSize = 121px

.hoverItem
	position fixed
	transform translate(-50%, -50%)
	pointer-events none

.table
	position relative
	transition filter .5s ease-in-out

	&.loading .cell
		filter brightness(0.5)

.cellParent
	position relative
	width $iconSize
	padding 0 !important
	height $iconSize
	box-shadow inset 0 0 8px 1px black
	background-image url('/assets/pokemon-shuffle/cell-bg.png')
	border-radius 16px

.table
	background #7E6E5E
	border-spacing 8px
	border-radius 16px
	border solid white 4px

.boss
	// margin auto
	transform scale(3)
	margin ($iconSize)px auto

.cell
	width $iconSize
	transition filter .5s ease-in-out
	height $iconSize
	background-image url('/assets/pokemon-shuffle/icons.png')
	&:not(.noAnimation)
		animation idleAnimation ease-in-out 1s
		animation-iteration-count infinite
	transform-origin 50% 50%
	for num in (0..810)
		&.icon-{num}
			background-position right ((num % 30) * $iconSize) bottom (math(num / 30, 'trunc') * $iconSize + $iconSize)px

	&.isFalling
		position absolute
		animation fallingAnimation linear .3s
		animation-iteration-count 1
		transform-origin 50% 50%
		animation-fill-mode forwards

	&.explode
		animation destroyAnimation ease-in-out .5s
		animation-iteration-count 1
		transform-origin 50% 50%
		animation-fill-mode forwards

		&::before
			content " "
			position absolute
			bottom 0
			width 100%
			height 100%
			border white solid 4px
			border-radius 100%

			animation destroyCircleAnimation ease-in-out .3s
			animation-iteration-count 1
			transform-origin 50% 50%
			animation-fill-mode forwards

	&.justSpawned
		animation spawnAnimation ease-in-out .3s
		animation-iteration-count 1
		transform-origin 50% 50%

.bossBar
	width 300px
	border 4px solid white
	padding 3px
	$height = 10px
	height $height + @padding[0] * 2 + @border[0] * 2
	background #ED869F

	border-radius 16px
	> div
		background #7E7C7B
		width 100%
		border-radius 16px
		height $height
		> div
			background linear-gradient(to bottom, #FFCAB1, #E7A09E)
			border-radius 16px
			height inherit
			transition width .3s ease-in-out

@keyframes idleAnimation
	0%
		transform rotate(0)
	20%
		transform rotate(-10deg)
	40%
		transform rotate(10deg)
	60%
		transform rotate(-5deg)
	80%
		transform rotate(5deg)
	100%
		transform rotate(0)

@keyframes fallingAnimation
	from
		top -117px // revoir précisément
	to
		top 0

@keyframes destroyCircleAnimation
	0%
		opacity 0
		transform scale(0)
	100%
		opacity 1
		transform scale(1.2)


@keyframes destroyAnimation
	0%
		transform scale(1)
		filter brightness(1)

	20%
		transform scale(1.3)
		filter brightness(1.5)

	100%
		transform scale(0)
		filter brightness(1.2)




@keyframes spawnAnimation
	from
		transform: scale(0)

	to
		transform: scale(1)
